* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1.5rem;
    background-color:rgb(150, 198, 236);
}

.container {
    width: 650px;
    border: 2px solid rgb(0, 0, 0);
    margin: 20px auto;
    background-color: rgb(182, 182, 182);
}

.recipe-notes ul {list-style: none;}

h1 {text-transform: uppercase;}

p {margin-bottom: 20px;}

.recipe-content {
    width: 600px;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    margin: 20px auto;
    padding: 50px;
}

.links {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(54, 78, 214);
    color: whitesmoke;
}

img {
    display: block;
    border: 10px solid rgb(88, 88, 206);
    border-radius: 15px;
}

a:link, a:visited {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 203, 73);
}